@import 'reset';

@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/geomanist-regular-webfont.woff2') format('woff2'),
       url('../fonts/geomanist-regular-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nowayround';
  src: url('../fonts/nowayround-regular-webfont.woff2') format('woff2'),
       url('../fonts/nowayround-regular-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'benmo';
  src: url('../fonts/benmo.ttf');
  font-style: normal;
}

::selection {
  background: #48d436;
  color: #ffffff;
}
